# Ignore virtual environment
venv/

# Ignore Django migrations and temp database
*/migrations/
db.sqlite3

# Ignore Python cache files
__pycache__/

# Ignore temporary drive upload files
driveupload/

# Ignore temporary drive upload files
.tmp.driveupload