<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome, {{ username }}!</h1>
    <h2>Total Points: {{ user_score }}</h2>
    <p><a href="{% url 'tasks' %}">View your tasks</a></p>
    <p><a href="{% url 'team_list' %}">View Teams</a></p>
    <p><a href="{% url 'user_leaderboard' %}">View the Global User Leaderboard</a>
    <p><a href="{% url 'team_leaderboard' %}">View the Global Team Leaderboard</a>
    <ul>
        <li>View your achievements</li>
        <li>View team leaderboard</li>
	<li>Enter location code</li>
    </ul>

    {% if messages %}
		<div>
		{% for message in messages %}
			<div>
				{{ message }}
			</div>
		{% endfor %}
		</div>
	{% endif %}

</body>
</html>
