{% extends 'base.html' %}

{% block title %}ExePLORE - Dashboard{% endblock %}

{% block content %}
<div class="dashboard">
    <h1>Welcome, {{ username }}!</h1>
    <h2>Total Points: {{ user_score }}</h2>
    
    <div class="dashboard-links">
        <p><a href="{% url 'tasks' %}">View your tasks</a></p>
        <p><a href="{% url 'team_list' %}">View Teams</a></p>
        <a href="{% url 'leaderboard' %}">View the Team Leaderboard</a>
        
        
        <ul>
            <li>View your achievements</li>
            <li>View leaderboard</li>
            <li>Enter location code</li>
        </ul>
    </div>

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="message">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}