*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: forestgreen;
    color: white;
    width: 100%;
    height: 10vh;
}

header p{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}

header img{
    height: 6vh;

}

.menuBanner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
    background-color: mediumspringgreen;
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.raceMenu{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.raceOption{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    width: 45%;  
    height: min-content;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-decoration: none;
    color: black;
}

.raceTitle{
    width: 60%; 
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    white-space: nowrap;
}

.map{
    width: 100%;
    height: 30vh;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
