{% extends 'base.html' %}
{% load static %}

{% block title %}ExePLORE - Team Details{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'teams/teams_details_styles.css' %}">
{% endblock %}

{% block content %}
<div class="team-detail-container">
    <h1>{{ team.name }}</h1>

    <p>Points: {{ team.points }}</p>
    <p>Admin: {{ team.admin.username }}</p>

    {% if user.is_authenticated %}
        {% if not has_joined and not join_request_pending %}
            <form method="post" action="{% url 'request_join_team' team.pk %}">
                {% csrf_token %}
                <button type="submit">Request to Join</button>
            </form>
        {% elif has_joined %}
            <p class="member-status">You are a member of this team!</p>
            {% elif join_request_pending %}
                <p class="pending-status">You have requested to join this team. Waiting for approval.</p>
        {% endif %}
    {% else %}
        <p>Please log in to request to join this team.</p>
    {% endif %}

    {% if user == team.admin %}
        <p><a href="{% url 'team_join_requests' team.pk %}">View Join Requests</a></p>
    {% endif %}

    <h2>Members</h2>
        <div class="member-container">
        <ul>
                {% for member in team.members.all %}
                <li>{{ member.username }}</li>
                {% endfor %}
        </ul>
        </div>
</div>
{% endblock %}
