{% extends 'base.html' %}

{% block title %}ExePLORE - Tasks{% endblock %}

{% block content %}
<div class="tasks-container">
    <h1>Your Score: {{ user_score }}</h1>

    <h2>Tasks</h2>
    <ul class="tasks-list">
        <li><a href="{% url 'add_task_score' task_id=1 %}">Learn a new fact about sustainability</a></li>
        <li><a href="{% url 'add_task_score' task_id=2 %}">Recycle!</a></li>
        <li><a href="{% url 'add_task_score' task_id=3 %}">Pick up three pieces of litter</a></li>
    </ul>
</div>
{% endblock %}