*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: forestgreen;
    color: white;
    width: 100%;
    height: 10vh;
}

header p{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}

header img{
    height: 6vh;

}

#pageTitle {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Uses default text color */
    cursor: pointer; /* Keeps it clickable */
    position: absolute; /* Keeps it centered like your old `<p>` */
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}

/* main page */

main{
    text-align: center;
    display: grid;
    height: 100%;
    grid-template-rows: 2fr 10fr 5fr 5fr;
    gap: 10px;
    margin-top: 10px;
    z-index: 1;
}

button{
    margin: auto;
    border-radius: 10px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    grid-row: 1/2;
    background-color: mediumspringgreen;
    color: white;
    font-size: 25px;
}

#map{
    grid-row: 2/3;
    height: 100%;
}

.medalTag {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 15%;
    aspect-ratio: 1/1; 
    z-index: 500;
}

.medalTag img{
    width: 100%;
    height: 100%;
}

.flag-border{
	text-shadow:
		-2px 0 black,
		0 2px black,
		  2px 0 black,
          0 -2px black;
}


.menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 3fr;
    width: 100%;
    height: 100%;
    grid-row: 3/5;
    text-align: center;
}

#routePOIs{
    display: flex;
    justify-content: center;
    align-items: center;
    background: forestgreen;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    width: 45%;
    height: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    grid-column: 1/3;
    grid-row: 1/2;
}

#leaderboard{
    width: 50%;
    height: 50%;
    grid-column: 1/2;
    grid-row: 2/3;
    border: none;
    background-color: royalblue; 
    color: white;
    margin: auto;
    border-radius: 10px;
}

#leaderboard:hover{
    border: 2px solid black;
}
#status{
    grid-column: 2/3;
    margin: auto;
    grid-row: 2/3;
}

.time{
    grid-column: 1/3;
    grid-row: 3/4;
    width: 100%;
    margin: auto;
}

.actionButtons{
    grid-column: 1/3;
    grid-row: 4/5;
    display: flex;
    flex-direction: column;
}

.actionButtons button{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;

    
    border-radius: 10px;
    width: 50%;
    aspect-ratio: 20/1;
    padding: 10px;
    border: none;
    color: white;
 
}

button:hover{
    border: 2px solid black;
}

/* Time trial view */

#activeTimeTrialView{  
    position: fixed;
    top: 0;                  
    left: 0;                 
    right: 0;                
    bottom: 0;              
    background-color: rgba(0, 0, 0, 0.7);  
    z-index: 9999;    
    opacity: 0;             
    transform: translateY(-100%); 
    transition: opacity 1s ease, transform 1s ease; 
}

#activeTimeTrialView.visible {
    opacity: 1;              
    transform: translateY(0); 
}

#activeTimeTrialView button{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10%;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 30%;
    aspect-ratio: 20/1;
    padding: 10px;
    border: none;
    color: white;
 
}

button:hover{
    border: 2px solid black;
}

#timer{
    margin-top: 25%;
    margin-bottom: 10px;
    justify-self: center;
    width: 30%;
    color: black;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px;
    
}
/* Exsplore view */

#activeExePLOREView{  
    position: fixed;
    top: 0;                  
    left: 0;                 
    right: 0;                
    bottom: 0;              
    background-color: rgba(0, 0, 0, 0.7);  
    z-index: 9999;    
    opacity: 0;              
    transform: translateY(-100%); 
    transition: opacity 1s ease, transform 1s ease; 
}

#activeExePLOREView.visible {
    opacity: 1;              
    transform: translateY(0); 
}

#activeExePLOREView button{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10%;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 30%;
    aspect-ratio: 20/1;
    padding: 10px;
    border: none;
    color: white;
 
}

button:hover{
    border: 2px solid black;
}

#qoute{
    margin-top: 10%;
    margin-bottom: 15%;
    margin-bottom: 10%;
    justify-self: center;
    width: 30%;
    opacity: 70%;
    color: black;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px;   
}
